@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@font-face {
  font-family: 'nova_squarebook';
  src: url('../fonts/novasquare-webfont.woff2') format('woff2'),
       url('../fonts/novasquare-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* CSS */
body {
  background: #fff;
  margin: 0;
  font-family: 'nova_squarebook', sans-serif;
  font-size: 1rem;
}

a {
  color: #016fff;
}

a:hover {
  color: #3085f5;
}

/* Background CSS */
.bg-container {
  animation: scroll 70s linear infinite;
  background: url('../images/bg-space.png'), #111111;
  background-repeat: repeat;
  background-size: contain;
  color: #eee;  
  min-width: 360px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

@keyframes scroll {
  100% {
    background-position: -3000px 0px;
  }
}

@media (prefers-reduced-motion) {
  .bg-container {
    animation: scroll 200s linear infinite;
  }
}
/* END Background CSS */

.hide {
  display: none !important;
}

.title {
  font-size: 5rem;
  font-family: 'Lobster', cursive;  
}

.subtitle {
  font-size: 2.5rem;
  text-align: center;
}

.description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 60vw;
  user-select: none;
}

.description img {
  width: 25%;
  max-width: 250px;
  height: auto;
}

.description p {
  width: 75%;
  font-size: 1.235em;
}

.box-wrapper {
  position: relative;  
  color: white;
  margin: 3%;
  width: 55vw;
}

.box-content {
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  padding-left: 20px;
}

.content-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* width: 85%; */
}

.second-txt {
  position: absolute;
  bottom: 0;
  left: 10px;
}

/* Button Glitch */

.btn-prev {
  position: absolute !important;
  bottom: 13%;
  left: 10%;
}

.btn-next {
  position: absolute !important;
  bottom: 13%;
  right: 14%;
}

.btn-space,
.btn-space:after {
  width: 150px;
  height: 56px;
  line-height: 55px;
  font-size: 1.1rem;
  font-family: 'nova_squarebook', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #016fff 5%);
  border: 0;
  color: #fff;
  cursor: pointer;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-space:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #016fff 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.btn-space:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

/* Media queries */
@media (min-width: 1600px) and (max-width: 1800px){
  .box-wrapper {
    width: 70vw;
  }
}
@media (min-width: 1400px) and (max-width: 1599px){
  .box-wrapper {
    width: 80vw;
  }
}

@media (max-width: 1030px) {
  .box-wrapper {
    width: 70vw;
  }   
  .content-img {
    flex-direction: column;
  }
  .gameplay-section img {
    order: -1;
    width: 50%;
  }
}

@media (max-width: 600px){
  .box-wrapper {
    width: 98vw;
  }    
}

@media(max-width: 550px) {
  body {
    font-size: 0.85rem;
  }
  .btn-space,
  .btn-space:after {
    width: 90px;
    height: 36px;
    line-height: 36px;
    font-size: 0.65rem;
  }

  .title {
    font-size: 3.5rem;
  }
  .subtitle {
    font-size: 1.8rem;
  }

  .description {
    width: 90vw;
    flex-direction: column;
  }

  .description img {
    width: 50%;
  }

  .description p {
    width: 90%;
  }

  .box-content {    
    top: 10%;
    left: 10%;
    right: 10%;    
  }

  #roadmap img {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  
  .content-img {
    flex-direction: column;
  }

  .about-section h2,
  .gameplay-section h2 {
    margin-top: 0 !important;
  }

  .gameplay-section img {
    order: -1;
    width: 50%;
  }
}


/* Width Utilities */
.w-25 {
  width: 25%;
}
.w-50 {
  width: 50%;
}
.w-75 {
  width: 75%;
}
.w-85 {
  width: 85%;
  display: flex;
  margin: 0 auto;
}
.w-100 {
  width: 100%;
}

/* Margin utilities */ 
.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.m-auto {
  margin: auto !important;
}

.mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.mx-1 {
  margin-right: 0.25rem !important;
  margin-left: 0.25rem !important;
}

.mx-2 {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}

.mx-3 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.mx-4 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}

.mx-5 {
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.my-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 0.25rem !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.mt-auto {
  margin-top: auto !important;
}

.me-0 {
  margin-right: 0 !important;
}

.me-1 {
  margin-right: 0.25rem !important;
}

.me-2 {
  margin-right: 0.5rem !important;
}

.me-3 {
  margin-right: 1rem !important;
}

.me-4 {
  margin-right: 1.5rem !important;
}

.me-5 {
  margin-right: 3rem !important;
}

.me-auto {
  margin-right: auto !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.ms-0 {
  margin-left: 0 !important;
}

.ms-1 {
  margin-left: 0.25rem !important;
}

.ms-2 {
  margin-left: 0.5rem !important;
}

.ms-3 {
  margin-left: 1rem !important;
}

.ms-4 {
  margin-left: 1.5rem !important;
}

.ms-5 {
  margin-left: 3rem !important;
}

.ms-auto {
  margin-left: auto !important;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.px-1 {
  padding-right: 0.25rem !important;
  padding-left: 0.25rem !important;
}

.px-2 {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.px-3 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.px-5 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: 0.25rem !important;
}

.pt-2 {
  padding-top: 0.5rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.pt-4 {
  padding-top: 1.5rem !important;
}

.pt-5 {
  padding-top: 3rem !important;
}

.pe-0 {
  padding-right: 0 !important;
}

.pe-1 {
  padding-right: 0.25rem !important;
}

.pe-2 {
  padding-right: 0.5rem !important;
}

.pe-3 {
  padding-right: 1rem !important;
}

.pe-4 {
  padding-right: 1.5rem !important;
}

.pe-5 {
  padding-right: 3rem !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: 0.25rem !important;
}

.pb-2 {
  padding-bottom: 0.5rem !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}

.pb-4 {
  padding-bottom: 1.5rem !important;
}

.pb-5 {
  padding-bottom: 3rem !important;
}

.ps-0 {
  padding-left: 0 !important;
}

.ps-1 {
  padding-left: 0.25rem !important;
}

.ps-2 {
  padding-left: 0.5rem !important;
}

.ps-3 {
  padding-left: 1rem !important;
}

.ps-4 {
  padding-left: 1.5rem !important;
}

.ps-5 {
  padding-left: 3rem !important;
}
